@charset "UTF-8";
/* CSS Document */

*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: #C9C39C url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  font-family: "Times New Roman", serif;
}

    .product-price small {
      font-size: 0.85rem;
      font-weight: 500;
      opacity: 0.9;
      line-height: 1;
    }

.top-title h2 {
  font-size: 3.5rem;      /* 大きめ */
  letter-spacing: 2px;
  color: #fff;
}

.top-title p {
  font-size: 1.5rem;
  color: #c4b479;
}

.top-title {
  margin-bottom: 4rem;
  position: relative;
}
/*
.top-title::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background: #c4b479;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}*/

.section-title h2 {
  font-size: 2rem;
  color: #fff;
}

.section-title p {
  font-size: 1.2rem;
  color: #FDFCF7;
}

/*.section-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 10px auto 0;
  background: #c4b479;
}*/




.title{
	color: #E6E6E6 !important;
	line-height: 1.2;
}



.sub-title-white{
	font-size: 1.2rem;
	color: #FDFCF7 !important;
	
}

.product-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: transform 0.6s;
  display: flex;
  flex-direction: column;
  border: 1px solid #9C9C9C;
}

.product-card::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.7;             /* 紙っぽさの強さを調整 */
  pointer-events: none;     /* カード操作に干渉しない */
}

.product-card img {
  width: 100%;
  height: 200px; /* 高さを固定 */
  background-color: #c4b479;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png"); 
  object-fit: cover; /* アスペクト比を崩さずに画像をトリミング */
  display: block;
}

.product-info {
  padding: 10px;
  text-align: center;
  background-color: #c4b479;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png"); 
  flex-shrink: 0;
}

.product-name {
  font-weight: bold;
  font-size: 1.4rem;
}

.product-subname {
  font-size: 1.2rem;
  color: #666;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  z-index: 3;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card:hover .product-overlay {
  opacity: 1;
}

.overlay-desc {
  padding-bottom: 10px;
  font-size: 1rem;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}


.price-num{
	font-size: 2rem;
}